@tailwind base;

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  min-height: 100%;
}

abbr[title] {
  text-decoration: none;
}

.prose .block.notice-block .icon svg{
  height: 100%;
}
.prose.mx-auto p,.prose.mx-auto li{
  word-break: break-all;
}

#logo {
  background-image: url('/img/logo-platform.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 150px;
}

.dark #logo {
  background-image: url('/img/logo-platform-white.png');
}