# .github/workflows/staging.yml
#
# GitHub Action for Serverless NextJS staging environment
#
name: Deploy dev-steedos-website
on:
  push:
    branches: [dev]
jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    environment: dev
    env:
      STEEDOS_SERVER_API_KEY: ${{ secrets.STEEDOS_SERVER_API_KEY }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      NEXT_PUBLIC_DEPLOYMENT_URL: https://dev.steedos.cn
      NEXT_PUBLIC_STEEDOS_ROOT_URL: https://console.dev.steedos.cn
      NEXT_STATIC_PROPS_REVALIDATE: 60
      KEYCLOAK_ID: www.steedos.cn
      KEYCLOAK_SECRET: ${{ secrets.KEYCLOAK_SECRET }}
      KEYCLOAK_ISSUER: https://id.steedos.cn/realms/master
      NEXT_PUBLIC_NEXTAUTH_PROVIDER_ID: keycloak
      NEXTAUTH_URL: https://dev.steedos.cn
      NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
      JWT_SSTEEDOS_IDENTITY_JWT_SECRETECRET: ${{ secrets.STEEDOS_IDENTITY_JWT_SECRET }}
    steps:

      - uses: actions/checkout@v2

      # - name: Configure AWS Credentials
      #   uses: aws-actions/configure-aws-credentials@v1
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     aws-region: us-east-1

      - name: Download `.serverless` state from S3
        run: aws s3 sync s3://steedos-serverless-state-bucket/steedos.com.cn/dev/.serverless .serverless --delete --region ap-east-1

      - uses: canastro/copy-file-action@master
        with:
          source: 'serverless-dev.yml'
          target: 'serverless.yml'

      - name: Use Node.js '14'
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: "yarn"

      - run: yarn --frozen-lockfile

      - name: Serverless AWS authentication
        run: npx serverless@2.72.2 --component=serverless-next config credentials --provider aws --key ${{ secrets.AWS_ACCESS_KEY_ID }} --secret ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Deploy to AWS
        run: npx serverless@2.72.2 --debug

      - name: Upload `.serverless` state to S3
        run: aws s3 sync .serverless s3://steedos-serverless-state-bucket/steedos.com.cn/dev/.serverless --delete --region ap-east-1
